.payment {
    text-align: center;
}
.payment-logo-img {
    height: 70px;
    width: 70px;
    border-radius: 100px;

}

.payment-radio-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

.payment-radio-container input {
    margin: 10px;
}
.payment-data {
    width: 70%;
    margin: 0  auto;
    padding: 100px 0;
}

.payment-data input {
    margin: 20px 0;
}