

</body>

<footer>

    <div class=social-network>
    <a href="https://www.instagram.com/bmbi2"> <img src="https://image.flaticon.com/icons/svg/1051/1051364.svg" alt="instgram"></a>
    <a href="https://www.facebook.com/bmbi2"><img src="https://image.flaticon.com/icons/svg/1051/1051360.svg" alt="facebook"></a>
    <a href="https://www.youtube.com/bmbi2"><img src="https://image.flaticon.com/icons/svg/1051/1051382.svg" alt="twiter"></a>
    <a href="https://twitter.com/bmbi2"><img src="https://image.flaticon.com/icons/svg/1051/1051350.svg" alt="youtube"></a>  

    </div>

    © zohar klein
    
</footer>

</html>