<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>


    <% if (typeof customer !== 'undefined') { %>
        <div="dashboard">
            <h1>Hello <%= customer.companyName %></h1>

            <form action="/dashboard/logut" method="post">
                <button type="submit">Logut</button>
            </form>
        
        </div>

    <% } else { %>

            <h1>Need to login first. %></h1>

    <% } %>
    
    
    
    </body>
</html>