<%-include("partials/header") -%>

<div class="header-nav">
    
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>

<form action="/loginRegister" method="POST">
    
        <button type="submit" class="btn btn-success">Login / Register</button>
</form>

    </ul>

</div>


<div class="app">

    <div class="side-bar">


        <a href="">dasdsa</a>
        



            <div class="crm">


    <div class="boxes">
        
    
        <div class="box box1">

        </div>
        
        <div class="box box2">

        </div>

        <div class="box box3">

        </div>
    </div>
    </div>
    
    </div>


</div>



<%-include("partials/footer") -%>
