body {
    margin: 0;
    padding: 0;
    background: #f6f5f5;
}


/********************************** Header *********************************************/

.header-nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #313848;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.header-nav li {
    position: relative;
    float: left;
}

.header-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #313848;
}

.header-nav li a:hover {
    color: wheat;
    border: 0.1px solid currentColor;
}

.header-nav button {
    float: right;
    position: relative;
    right: 30px;
}


/********************************** CRM *********************************************/

.app {}

.side-bar {
    border: 2px solid currentColor;
    width: 300px;
    height: 1100px;
    background: #313848;
    position: relative;
    bottom: 16px;
}

.crm {
    position: relative;
    left: 330px;
    width: 1500px;
}

.crm .box {
    height: 500px;
    width: 400px;
    border: 2px solid currentColor;
    margin: 10px;
}

.crm .boxes {
    display: flex;
    flex-direction: row;
}

.crm .box1 {
    order: 1
}

.crm .box2 {
    order: 2
}

.crm .box3 {
    order: 3
}


/********************************** Footer *********************************************/

footer {
    background-color: #444444;
    text-align: center;
    padding: 50px;
}

.social-network {
    background-color: #444444;
}

footer img {
    background-color: #444444;
    margin: 10px;
    height: 50px;
    width: 50px;
}