<%-include("home-partials/header") -%>

<title><%=title%></title>
<%-include("home-partials/navbar") -%>


<div class="container">
    <div class="row d-flex align-items-center hero">
        <div class="col-sm">
            <h1 class="hero-title mb-4">About Our Company
            <p class="hero-text mb-4">
                Some Bla Bla Text <br>
                Web Developers From Developrlend.
            </p>

        </div>

    </div>
</div>


<%-include("home-partials/footer") -%>