<%-include("home-partials/header") -%>

<title><%=title%></title>

<%-include("home-partials/navbar") -%>

<div class="container">
    <div class="row d-flex align-items-center hero">
        <div class="col-sm">
            <h1 class="hero-title mb-4">CRM System<br>
                For Everyone</h1>
            <p class="hero-text mb-4">
                Simple. Convenient. Intuitive <br>
                Web CRM appliction for every need.
            </p>
            <a class="btn btn-success login-btn start-btn" href="ourcrm" role="button">Learn More</a>
        </div>

        <div class="col-sm">
            <img src="img/hero-pic.svg" alt="hero picture" class="hero-pic">
        </div>
    </div>
</div>


<%-include("home-partials/footer") -%>