
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="container fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
            <!-- <img src="img/logo.svg" width="20%" alt="logo"> -->
            Bmby2
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="sr-only">Toggle navigation</span>
        </button>
        <div id="nav-main" class="collapse navbar-collapse" id="nav-main">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item mr-5">
                    <a class="nav-link" href="about">
                        About</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="ourcrm">
                        Our CRM</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="contact">
                        Contact Us</a>
                </li>
                <li class="nav-item mr-5">
                <!--
                    <a class="nav-link" data-toggle="modal" href="#login-modal">
                        <i class="fas fa-user-circle"></i>
                        Login</a>
                -->
                        <a class="nav-link" href="/login">

                        Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success login-btn" role="button" href="/signup">
                        Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
