.dashboard-tale {
    margin: 20px auto 0px;
    padding: 20px;
    width: 80%;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;

  
}

.dashboard-tale tr{ 
    text-align: center;
    background-color: #dadada;
    border-bottom: 1px solid black; 


}
.dashboard-tale tr td{ 
    padding: 5px;

}

.dashboard-tale .double{ 
    text-align: center;
    background-color: #9cf196;
}
.paging {
    width: 70%;
    margin: 20px auto;
    border: none;
}


button,
button:visited {
    display: inline-block;
    font-weight: 200;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.4s;
    background-color: #9cf196;
    border: 1px solid #ffdd67;
}


button:hover,
button:active {
    background-color: #ffdd67;
    border: 1px solid #9cf196;
    

}

.paging button{
    background-color: #ffdd67;
    border: 1px solid #9cf196;
}

.next {
    float: right;

}
.prev {
    float: left;

}

.sort-selction {
    width: 70%;
    float: left;
    padding-top: 100px; 
}
.sort-selction button{
    background-color: #ffdd67;
    border: 1px solid #9cf196;

}
