.dashboard-tale {
    margin: 20px auto 0px;
    padding: 20px;
    width: 80%;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;

  
}

.dashboard-tale tr{ 
    text-align: center;
    background-color: #dadada;
    border-bottom: 1px solid black; 


}
.dashboard-tale tr td{ 
    padding: 5px;

}

.dashboard-tale .double{ 
    text-align: center;
    background-color: #39ae4a;
}
.paging {
    width: 70%;
    margin: 20px auto;
    border: none;
}


.users button,
.users button:visited {
    display: inline-block;
    font-weight: 200;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.4s;
}


.btn-odd,
.btn-odd:visited {
    background-color: #39ae4a;
    border: 1px solid #dadada;
    color: white;
    

}

.btn-odd:hover,
.btn-odd:active {
    background-color: #dadada;
    border: 1px solid #39ae4a;
    color: #39ae4a;
    

}



.btn-double,
.btn-double:visited {
    background-color: #dadada;
    border: 1px solid #39ae4a;
    color: #39ae4a;
}


.btn-double:hover,
.btn-double:active {
    background-color: #39ae4a;
    border: 1px solid #dadada;
    color: #dadada;
    

}



.paging button{
    background-color: #f7c22b;
    border: 1px solid #39ae4a;
}

.next {
    float: right;

}
.prev {
    float: left;

}

.sort-selction {
    width: 70%;
    float: left;
    padding-top: 100px; 
}
.sort-selction button{
    background-color: #f7c22b;
    border: 1px solid #39ae4a;

}
